.messaging {
  margin: 0 auto;
  width: 95%;
}
.inbox_people {
  background: #fff;
  float: left;
  overflow: hidden;
  width: 30%;
  border-right: 1px solid #ddd;
}
.nav-tabs{
    margin-bottom:5%;
}
.nav-item:hover {
  background: #e8f6ff;
  cursor: pointer;
}
.chat-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.chat-img img{
  width: 20vmin;
  height: 20vmin;
  object-fit: cover;
  border-radius: 10%;
}
.chat-img h6 {
  padding-top: 1vw;
}
.nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.inbox_msg {
  border: 1px solid #ddd;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}
.btn-settings {
  float: right;
}
.recent_heading {
  float: left;
  width: 40%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.chats_heading h4 {
  color: #0465ac;
  font-size: 16px;
  margin: auto;
  line-height: 29px;
  white-space: nowrap;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_img img {
  width: 5vmin;
  height: 5vmin;
  object-fit: cover;
  border-radius: 50%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.chat_list:hover {
  background: #e8f6ff;
  cursor: pointer;
}
.chat_list_focus {
  background: #e8f6ff;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.incoming_msg_img img {
  width: 6vmin;
  height: 6vmin;
  object-fit: cover;
  border-radius: 50%;
}
.received_msg {
  display: inline-block;
  padding: 10px 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 0 15px 15px 15px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.received_withd_msg {
  float: left;
  max-width: 75%;
  word-wrap: break-word;
}

.mesgs{
  float: left;
  padding: 30px 15px 0 25px;
  width:70%;
}

.sent_msg p {
  background:#0465ac;
  border-radius: 12px 15px 15px 0;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  max-width: 75%;
  word-wrap: break-word;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  outline:none;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border:none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
/*-----------------------------*/
.round {
  float: right;
  padding-right: 4%;
}
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  float: right;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  opacity: 0;
  float: right;
  padding-top: 10px;
  padding-right: 20px;
  top: 8px;
  transform: rotate(-45deg);
  width: 10px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/*----------------------------*/
.not-selected {
  position: absolute;
  top: 40%;
  left: 50%;
}
.not-selected h6{
  color: #4c4c4c;
}
