.book-logo{
  border-style: solid;
  border-color: black;
  width: 90%;
}

.blog-item{
  text-decoration: none;
  background-color: #EDEDED;
  transition: background-color .25s ease;
  overflow: hidden;
  color: #333;
  /*  padding: 10px;
    margin: 10px;*/
}

/*.addForm {
  color: #000;
  grid-column: 2 / 3;
  border: solid #1a252b;
  margin-top: 10px;

}

.addForm h2{
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}
!*.blog-announcements{
  grid-column: 1 / 3;
}*!

.formAuthor-group{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

.input-group{
  grid-column: 2 / 4;
}

.label-group{
  text-align: center;
  grid-column: 1 / 2;
  padding: 5px;
  margin: 0;
}

.button{
  grid-column: 2 / 3;
}

.blog-announcements {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #fff;

}

.blog-item{
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  display: grid;
  text-decoration: none;
  background-color: #EDEDED;
  transition: background-color .25s ease;
  overflow: hidden;
  color: #333;
  padding: 10px;
  margin: 10px;
}


.blog-item:hover {
  background-color: #bebebe;
}
.blog-item h4:hover{
  color: #293A43;
}

.book-image-grid{
  grid-column: 1 / 2;
}

.book-logo{
  border-style: solid;
  border-color: black;
  width: 90%;
}

.book-item-content{
  grid-column: 2 / 3;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  align-content: center;
}

.book-item-content p {
  padding-top: 7px;
  padding-bottom: 7px;
}

.book-item-content h3 {
  font-size: 20px;
  padding-bottom: 5px;
  margin: 0;
  transition: color .25s ease;
}

!* The popup formAuthor - hidden by default *!

.picture-buttons{
  grid-column: 1 / 4;
  margin: 20px;
}
.addForm-popup{
  !*grid-column: 1 / 4;*!
  display: none;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  color: #000;
  border: 3px solid #f1f1f1;
  z-index: 9;
}*/

/*.formAuthor-container{
  padding: 10px;
  background-color: white;
}

.formAuthor-container input[type=text], .formAuthor-container input[type=password]{
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}*/


/*.formAuthor-popup{
  grid-column: 1 / 4;
  display: none;
  position: fixed;
  top: 0;
  margin-left: 35%;
  !*margin-right: 35%;*!
  margin-top: 10%;
  color: #000;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


!* Add styles to the formAuthor container *!
.formAuthor-container{
  !*max-width: 500px;*!
  padding: 10px;
  background-color: white;
}


                           !* Full-width input fields *!
.formAuthor-container input[type=text], .formAuthor-container input[type=password]{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


  !* When the inputs get focus, do something *!
.formAuthor-container input[type=text]:focus, .formAuthor-container input[type=password]:focus{
  background-color: #ddd;
  outline: none;
}



  !* Set a style for the submit/login button *!
.formAuthor-container .btn{
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}


!* Add a red background color to the cancelAnnouncement button *!
.formAuthor-container .cancelAnnouncement{
  background-color: red;
}



  !* Add some hover effects to buttons *!
.formAuthor-container .btn:hover, .open-button:hover{
  opacity: 1;
}*/

