<!--<h1>List of unapproved announcement</h1>-->
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="radio_buttons">
        <div>
          <input type="radio" name="option" id="radio1" value="announcements" (click)="loadAnnouncements()" checked/>
          <label for="radio1">Announcement</label>
        </div>
        <div>
          <input type="radio" name="option" id="radio2" value="reviews" (click)="loadReviews()"/>
          <label for="radio2">Reviews</label>
        </div>
        <div>
          <input type="radio" name="option" id="radio3" value="books" (click)="loadBookConfirm()"/>
          <label for="radio3">Books</label>
        </div>
        <!--<div>-->
        <!--<input type="radio" name="option" id="radio3" value="overviews"/>-->
        <!--<label for="radio3">Overviews</label>-->
        <!--</div>-->
        <!--<div>-->
        <!--<input type="radio" name="option" id="radio4" value="books"/>-->
        <!--<label for="radio4">Books</label>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="col-4">
      <div class="sorting">
        <form>
          <label>Sort by: </label>
          <select name="sortingBy" [(ngModel)]="sortingBy" (ngModelChange)="sort($event)">
            <option value="username" name="username" selected>User Name</option>
            <option value="date" name="date">Date</option>
            <option value="title" name="title">Book Title</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<<<<<<< HEAD-->
<!--=======-->
<!--<div *ngIf="announcements" class="announcements container">-->
<!--<div class="row">-->
<!--<div class="col-md-6" *ngFor="let announce of announcements">-->
<!--<div class="container announcement-item">-->
<!--<div class="row">-->
<!--<div class="col-2">-->
<!--<img src="{{announce.imagePath}}">-->
<!--</div>-->

<!--<div class="col-3">-->
<!--<div class="announcement-item-content">-->
<!--<p>Title: {{announce.title}}</p>-->
<!--<p>Author(s): {{announce.authors}}</p>-->
<!--<p>Genres: {{announce.genres}}</p>-->
<!--<p>Release date: {{announce.releaseDate}}</p>-->
<!--<p>Description: {{announce.description}}</p>-->
<!--<button class="confirm" (click)="confirmAnnouncement(announce)">Confirm</button>-->
<!--<button class="cancel" (click)="cancelAnnouncement(announce)">Cancel</button>-->
<!--</div>-->
<!--</div>-->
<!--&gt;>>>>>> dfb2f0c2f43a53dccdfd99b80f2f9175d9292fe7-->


<div *ngIf="announcements" class="announcements container">
  <div class="row">
    <div class="card test m-2 col-md-5" *ngFor="let announce of announcements">
      <img src="{{getPhoto(announce.imagePath)}}" class="card-img-top"
           (error)="$event.target.src=getPhoto('default_book_photo')" alt="Image">
      <div class="card-body">
        <h5 class="card-title">Title: {{announce.title}}</h5>
        <p class="card-text">Author(s): {{announce.authors}}</p>
        <p class="card-text">Genres: {{announce.genres}}</p>
        <p class="card-text">Release date: {{announce.releaseDate}}</p>
        <p class="card-text">Description: {{announce.description}}</p>
        <button class="confirm btn btn-success" (click)="confirmAnnouncement(announce)">Confirm</button>
        <button class="cancel btn btn-danger" (click)="cancelAnnouncement(announce)">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="reviews" class="reviews container">
  <div class="row">
    <div class="test col-6" *ngFor="let review of reviews">
      <div class="review-item card container">
        <div class="row" style="padding-left: 15px">
          <div class="user-image col-3" >
            <img src="{{getPhoto(review.userAvatarPath)}}" class="user-logo" alt="User"
                 (error)="$event.target.src=getPhoto('default_avatar')" >
          </div>
          <div class="review-content col-9">
            <h5>Review </h5>
            <p>Book: {{review.title}}</p>
            <p>Author(s): {{review.authors}}</p>
            <p>User: {{review.userName}}</p>
            <p>Text: {{review.reviewText}}</p>
          </div>
        </div>
        <div class="row" style="padding-left: 15px">
          <div class="col-md-3"><button class="confirm btn btn-success" (click)="confirmReview(review)">Confirm</button></div>
          <div class="col-2"><button class="cancel btn btn-danger" (click)="cancelReview(review)">Cancel</button></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="bookConfirm" class="book container">
  <div class="row">
    <div class="card test m-2 col-md-5" *ngFor="let book of bookConfirm">
      <img src="{{getPhoto(book.imagePath)}}" class="card-img-top"
           (error)="$event.target.src=getPhoto('default_book_photo')" alt="Image">
      <div class="card-body">
        <h5 class="card-title">Title: {{book.title}}</h5>
        <p class="card-text">Author(s): {{book.authors}}</p>
        <p class="card-text">Genres: {{book.genres}}</p>
        <p class="card-text">Release date: {{book.releaseDate}}</p>
        <p class="card-text">Description: {{book.description}}</p>
        <button class="confirm m-1 btn btn-success" (click)="confirmBook(book.bookId)">Confirm</button>
        <button class="cancel m-1 btn btn-danger" (click)="cancelBook(book.bookId)">Cancel</button>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [pageSize]="itemsPerPage"
                [(page)]="reviewPage" [boundaryLinks]="true" (pageChange)="checker()"></ngb-pagination>
